#kanbas-navbar {
    width: 85px !important;
    min-height: max(100vh, 100%);
}

#kanbas-navbar ul {
    max-width: 100% !important;
}

#kanbas-navbar ul li {
    max-width: 100% !important;
}

.kanbas-navbar-item-text {
    font-size: 0.9em !important;
}

.nav-link,
.nav-link:visited {
    color: #ffffff;
    max-width: 100% !important;
}

.nav-link:hover {
    color: #E50000;
}

.nav-pills .nav-link span {
    color: #E50000;
}

.nav-pills .nav-link.active {
    background-color: #ffffff;
    color: #E50000;
}

#account-icon {
    color: grey;
}

.nav-pills .nav-link {
    width: 100vw;
    border-radius: 0;
    padding: 5px;
}

.nav-pills .nav-link div span,
.nav-pills .nav-link div div {
    margin-block: 3px;
}

.page-content-wrapper {
    margin: 25px;
}

#assignments-page-header-icon {
    color: #E50000;
}

.breadcrumb-item a {
    color: #E50000;
    text-decoration: none;
}

.secondary-sidebar {
    max-width: 190px;
}

#assignments-sidebar-title {
    font-style: italic;
    color: rgb(93, 93, 93);
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.secondary-sidebar ul {
    margin: 0;
    padding-left: 0;
}

.secondary-sidebar li {
    list-style-type: none;
    padding-block: 10px;
    /* margin-block: 20px; */
}

.secondary-sidebar li a {
    text-decoration: none;
    color: #E50000;
    font-size: 1.2em;
}

.secondary-sidebar li.selected {
    padding-left: 8px;
    margin-left: -10px;
    border-left: 2px solid black;
}

.secondary-sidebar li.selected a {
    color: black;
    font-weight: 500;
}

/* .fa-check-circle {
    color: green;
}

#links-list {
    list-style: none;
    padding: 0;
}

.override-btn {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(196, 195, 195);
    color: black;
}

.btn-primary.override-btn:active {
    background-color: grey;
    border: 1px solid grey;
    color: black;
}

.override-btn:hover {
    background-color: lightgrey;
    color: black;
    border: 1px solid lightgrey;
}

.btn-red {
    color: white;
    background-color: #E50000;
    border: 1px solid rgb(196, 195, 195);
}

.btn-primary.btn-red:active {
    background-color: #a00000;
    border: 1px solid white;
    color: white;
}

.btn-red:hover {
    background-color: #b90000;
    color: white;
    border: 1px solid white;
} */

.link-no-decoration {
    text-decoration: none;
    color: black;
}

.link-red {
    color: #E50000;
}

.column-subtitle {
    font-size: 0.9em;
}

td {
    text-align: center;
}

.focus-red:focus {
    border-color: #E50000;
}

.wd-main-account-container {
    display:flex;
 }
 
 
 .wd-account-main-page {
     width: auto;
     height: 100vh;
     padding: 1.5rem;
 }
 .wd-form-select-style{
     display: block;
     width: 30%;
     padding: 0.375rem 2.25rem 0.375rem 0.75rem;
     -moz-padding-start: calc(0.75rem - 3px);
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: #212529;
     background-color: #fff;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
     background-repeat: no-repeat;
     background-position: right 0.75rem center;
     background-size: 16px 12px;
     border: 1px solid #ced4da;
     border-radius: 0.375rem;
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
 }
 
 .wd-form-input-text{
     display: block;
     width: 50%;
     padding: 0.375rem 0.75rem;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: #212529;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     border-radius: 0.375rem;
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
 
 .wd-custom-hamburger::before {
     font-size: 1.8rem;
     color: #D41B2C;
     cursor: pointer;
     margin: 0 auto;
 }
 
 .wd-dashboard-header{
     font-size: 2.375rem;
     font-weight: 300;
     padding-left: 5px;
     position: relative;
     color: rgba(77, 77, 77, 0.96);
     font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .wd-dashboard-pub-courses{
     font-size: 2rem;
     padding-left: 20px;
     position: relative;
     font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
 .wd-scrollable {
     height: 100vh;
     width: 100%;
     overflow-y: scroll;
     overflow-x: hidden;
 }
 
 
 .account-header{
     margin: 0.5rem 0 1rem 0;
 }
 .wd-main-dashboard{
     padding: 0 1rem;
 }
 
 .wd-dashboard-sub-header{
     margin: 0.25rem 0;
     padding: 0;
 }
 
 .wd-dashboard-course-card {
     width: 300px;
 }
 .wd-card-image-container{
     width: 100%;
     height: 10rem;
     background: #0099ff;
 }
 .wd-course-card-ellipses{
     padding: 1rem;
     cursor: pointer;
 }
 .wd-custom-divider{
     margin-top:-10px;
     height: 2px;
     background: grey;
 }
 .wd-custom-divider2{
     margin-top:-10px;
     height: 2px;
     padding-left: 20px;
     background: grey;
 }
 .wd-card-header{
     color: blue;
     cursor: pointer;
 }
 
 .wd-account-navigation{
     width: 200px;
 }
 
 .wd-navigation-element{
     padding: 0.5rem;
     margin: 0.25rem;
 }
 .wd-note{
     padding: 0.5rem;
     padding-left: 1.5rem;
     font-size: small;
     font-style: italic;
 }
 
 .wd-navigation-element a{
     text-decoration: none;
     position: relative;
     color: red;
 
 }
 .wd-navigation-element a:hover{
     text-decoration: none;
     color: black;
     position: relative;
     padding-left: 3px;
     border-left: 2px solid black;
 }
 
 
 .wd-navigation-element-title{
     color: red;
 
 }
 .wd-navigation-element-active a{
     text-decoration: none;
     color: black;
     padding-left: 3px;
     border-left: 2px solid black;
 }
 
 .wd-navigation-element-title-active{
     color: black;
 }
 
 
 /*test*/
 .wd-edit-profile-action-button{
     background-color: lightgrey;
     border: 1px solid lightgrey;
     color: black;
     float: right;
 }
 
 
 .wd-account-icon-container {
     border: 1px solid grey;
     border-radius: 50%;
     width: 10rem;
     height: 10rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .wd-account-icon {
     font-size: 7.5rem;
     color: grey;
 }
 
 .wd-account-title {
     padding: 1rem 0;
 }
 
 .wd-basic-details {
     padding: 1rem 0;
 }
 
 .wd-link-icon {
     color: grey;
     font-size: 1rem;
 }
 
 .wd-pointer {
     cursor: pointer;
 }
 .wd-red{
     color: red;
 }
 .wd-text-grey{
     color: grey;
 }
 .wd-card-text{
     color: grey;
     margin-top: 0;
     font-size: small;
 }
 .wd-card-icon{
     color: grey;
 }
 .wd-card-icon:hover{
     color: red;
 }
 
 .wd-breadcrumb-header a{
     color: red;
     font-size: 1.175rem;
     text-decoration: none;
     font-weight: 300;
     padding-left: 5px;
     position: relative;
     font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .wd-breadcrumb-header-active{
     font-size: 1.175rem;
     text-decoration: none;
     padding-left: 5px;
     position: relative;
     color: rgba(77, 77, 77, 0.96);
     font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .wd-table-even{
     background-color: #c9c8c8;
 }
 table{
     border: 1px solid rgba(77, 77, 77, 0.96);
     border-collapse: collapse;
     text-align: center;
 }
 .wd-table-student-name{
     text-align: left;
 }
 .wd-weight-incr{
     font-weight: bold;
     margin: 2rem;
 }
 th{
     background-color: #ced4da;
     font-weight: 300;
     padding-left: 5px;
     position: relative;
     color: rgba(77, 77, 77, 0.96);
     font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .wd-btn-group{
     padding-left: 70%;
     text-align: center;
 }
 .wd-button-label{
     font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: larger;
 }
 .wd-button-size{
     width: 500px;
     text-align: left;
 }
 .wd-form-input{
     text-align: center;
     margin: 10px;
     display: inline !important;
     width: 80px !important;
 }